<!DOCTYPE html>
<html lang="en">

<head>
    <title>C Hub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./common.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row Rectangle-123">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="C-Hub">
                            C Hub
                        </div>
                    </div>
                    <div class="col-md-offset-4 col-md-5">
                        <div class="row">
                            <div class="col-md-2 Home">
                                Home
                            </div>
                            <div class="col-md-3 About-Us">
                                About Us
                            </div>
                            <div class="col-md-3 Contact-Us">
                                Contact Us
                            </div>
                            <div class="col-md-2 Cart">
                                Cart
                            </div>
                            <div class="col-md-2 Account">
                                Account
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <img class="Rectangle-30" src="images/catering-banner_2019-04-22/catering-banner@3x.png"
                        class="img-responsive">
                </div>
                <div id="Catere-Name-background"></div>
                <div id="catere-name">
                    <div id="catere-brand-name" class="mr-bt-35"></div>
                    <div id="catere-rating" class="disp-Inline-Block mr-rt-15">
                        <img src="images/star_2019-04-24/star.png" class="star disp-Inline-Block">
                        <div class="disp-Inline-Block" id="ratings">
                        </div>
                    </div>
                    <div id="phone" class="disp-Inline-Block mr-rt-15">
                        <img src="images/phone-receiver_2019-04-24/phone-receiver.png"
                            class="disp-Inline-Block phone-receiver">
                        <div class="disp-Inline-Block" id="phone-numbers">
                        </div>
                    </div>
                    <div id="Facebook" class="disp-Inline-Block mr-rt-15"><img
                            src="images/facebook_2019-04-24/facebook.png" class="facebook"></div>
                    <div id="Instagram" class="disp-Inline-Block mr-rt-15"><img
                            src="images/instagram-logo_2019-04-24/instagram-logo.png" class="instagram-logo"></div>
                    <div id="Twitter" class="disp-Inline-Block">
                        <img src="images/twitter_2019-04-24/twitter.png" class="twitter">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mainBox">
            <div class="col-md-12 ">
                <div class="Rectangle-2 col-md-9">
                    <div class="Rectangle-16 row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="Rectangle-50">ALL</button>
                        </div>
                        <div class="col-md-2">
                            <img src="images/leaf_2019-04-23/leaf@3x.png" class="leaf disp-Inline-Block">
                            <div class="Veg-Only disp-Inline-Block">Veg Only</div>
                        </div>
                        <div class="col-md-2">
                            <label class="switch">
                                <input type="checkbox" name="VegOnly" value="1" id="VegOnly">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group date" data-provide="datepicker">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                <input type="text" id="datepicker" placeholder="Date" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2 text-align-rt">
                            <div class="dropdown">
                                <span class=" Event-Type dropdown-toggle" type="button" id="menu1"
                                    data-toggle="dropdown">Event Type<span class="caret"></span></span>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Rectangle-76">
                        <div class="row">
                            <div class="Choose-the-Menu col-md-12">
                                Choose the Menu
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row mr-tp-25">
                                    <div class="col-md-2">
                                        <div class="Rectangle-82 vegLabelBorder vr-al-md">
                                            <div class="Ellipse-1 vegLabelColor"></div>
                                        </div>
                                        <div class="Veg disp-Inline-Block vr-al-md">Veg</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row" id="veg">
                                        </div>
                                    </div>
                                    <div class="col-md-2 Enter-Plates">
                                        Enter Plates
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" min="0" class="form-control plates" id="VegPlates"
                                            name="VegPlates">
                                    </div>
                                </div>
                                <div class="row mr-tp-25 NonVegSections nonVegMainSection">
                                    <div class="col-md-2">
                                        <div class="Rectangle-82 nonVegLabelBorder vr-al-md">
                                            <div class="Ellipse-1 nonVegLabelColor"></div>
                                        </div>
                                        <div class="Non-Veg disp-Inline-Block vr-al-md">Non Veg</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row" id="nonVeg">
                                        </div>
                                    </div>
                                    <div class="col-md-offset-2 col-md-2">
                                        <input type="number" min="0" class="form-control plates" id="nonVegPlates"
                                            name="nonVegPlates">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pd-tp-25">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="Total">Total</div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="Union-1" id="totalPrice"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4 hidden VegSections">
                            <div class="menuItemsHeader" id="VegMenuHeader">
                            </div>
                            <div class="menuItemBody">
                                <ol id="vegItems"></ol>
                                <div class="menuItemFooter" id="vegmenufooter">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 NonVegSections hidden NonVegSectionTwo">
                            <div class="menuItemsHeader" id="NonVegMenuHeader">
                            </div>
                            <div class="menuItemBody">
                                <ol id="nonVegItems"></ol>

                                <div class="menuItemFooter" id="nonvegmenufooter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row cartbox">
                        <div class="col-md-12 Rectangle-32">
                            <div class="CartLabel">
                                Cart
                            </div>
                            <!-- <div class="CartBody">
                            Simple Veg Menu, Non Veg
                        </div> -->
                        </div>
                        <div class="col-md-12 Rectangle-66">
                            <div class="row VegSections hidden">
                                <div class="col-md-7 cartContent" id="VegCartSection">
                                </div>
                                <div class="col-md-5 cartPriceSection" id="vegCarttotal">
                                </div>
                            </div>
                            <div class="row NonVegSections hidden NonVegSectionTwo">
                                <div class="col-md-7 cartContent" id="NonVegCartSection">
                                </div>
                                <div class="col-md-5 cartPriceSection" id="NonVegCarttotal">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 cartContent hidden" id="TotalPriceCartSection">
                                    Total
                                </div>
                                <div class="col-md-5 cartPriceSection" id="TotalPricesection">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mr-tp-25">
                                <button class="btn btn-block checkout-button">CHECKOUT</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="gallery">Gallery</div>
                        </div>
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footerMenu">
            <div class="col-md-12 ">
                <div class="row">
                    <div class="col-md-3 footerLogoBox">
                        <img src="images/Group 86_2019-04-24/Group 86.png" class="Group-86">
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footerMenu">Home</div>
                                <div class="footerMenu">About Us</div>
                                <div class="footerMenu">Contact Us</div>
                                <div class="footerMenu">Privacy</div>
                                <div class="footerMenu">Terms</div>
                            </div>
                            <div class="col-md-4">
                                <div class="footerMenu">Security</div>
                                <div class="footerMenu">Security</div>
                                <div class="footerMenu">Blog</div>
                            </div>
                            <div class="col-md-4">
                                <div class="footerMenu">Security</div>
                                <div class="footerMenu">Security</div>
                                <div class="footerMenu">Blog</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-socialmedia-box">
                        <div class="footerFollowUsLabel">Follow Us</div>
                        <div id="Facebook" class="disp-Inline-Block mr-rt-25"><img
                                src="images/facebook_2019-04-24/facebook.png" class="facebook"></div>
                        <div id="Instagram" class="disp-Inline-Block mr-rt-25"><img
                                src="images/instagram-logo_2019-04-24/instagram-logo.png" class="instagram-logo"></div>
                        <div id="Twitter" class="disp-Inline-Block">
                            <img src="images/twitter_2019-04-24/twitter.png" class="twitter">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="col-md-12 ">
                <small>Copyright &copy; 2019 C Hub All rights reserved.</small>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    
  //  var jsonData = '{"CatererName":"Sree Subham Caters","Ratings":"100+","AverageRating":"4.1","PhoneOne":"+91-9988776655","PhoneTwo":"+91-9988776655","SocialMedia":{"Facebook":"/","Instagram":"/","Twitter":"/"},"MenuList":[{"MenuName":"Veg","MenuType":"1","MenuItem":[{"Item":"Snacks","ItemCount":"1"},{"Item":"Curries","ItemCount":"3"},{"Item":"Special Curries","ItemCount":"2"}],"MenuPrice":"350"},{"MenuName":"Special Veg","MenuType":"1","MenuItem":[{"Item":"Snacks1","ItemCount":"1"},{"Item":"Curries1","ItemCount":"3"},{"Item":"Special Curries1","ItemCount":"2"}],"MenuPrice":"450"},{"MenuName":"Supreme Veg","MenuType":"1","MenuItem":[{"Item":"Snacks easy easy","ItemCount":"1"},{"Item":"Curries easy easy","ItemCount":"3"},{"Item":"Special Curries easy easy","ItemCount":"2"}],"MenuPrice":"150"},{"MenuName":"Simple Veg","MenuType":"1","MenuItem":[{"Item":"Snacks Special","ItemCount":"1"},{"Item":"Curries Special","ItemCount":"3"},{"Item":"Special Curries Special","ItemCount":"2"}],"MenuPrice":"950"},{"MenuName":"Big Veg","MenuType":"1","MenuItem":[{"Item":"Snacks easy","ItemCount":"1"},{"Item":"Curries easy","ItemCount":"3"},{"Item":"Special easy","ItemCount":"2"}],"MenuPrice":"250"},{"MenuName":"Non Veg","MenuType":"2","MenuItem":[{"Item":"Snacks","ItemCount":"1"},{"Item":"Curries","ItemCount":"3"},{"Item":"Special Curries","ItemCount":"2"}],"MenuPrice":"300"},{"MenuName":"Special Non Veg","MenuType":"2","MenuItem":[{"Item":"Snacks2","ItemCount":"1"},{"Item":"Curries2","ItemCount":"3"},{"Item":"Special Curries2","ItemCount":"2"}],"MenuPrice":"600"},{"MenuName":"Simple Non Veg","MenuType":"2","MenuItem":[{"Item":"Snacks3","ItemCount":"1"},{"Item":"Curries3","ItemCount":"3"},{"Item":"Special Curries3","ItemCount":"2"}],"MenuPrice":"700"}]}';
var jsonData = '<%= extras %>';
  var data = JSON.parse(jsonData);
var obj = data.BranchData.MenuList;
var selectedVegItem, selectedNonvegItem, vegOnly = false;

$(document).ready(function(){

    $("#catere-brand-name").html(data.BranchData.Store_Entity_Name+'</br>'+data.BranchData.Branch_Name);
    $("#ratings").html("5");
    $("#phone-numbers").html(data.BranchData.Branch_PhoneNumber);
    $( "#datepicker" ).datepicker({
        dateFormat:"dd-mm-yy",
    });
    addDynamicMenu();

    $(".vegMenuPriceButton").on('click', function(){
        if($(this).hasClass("vegButtonHighlighter")){
            $(this).removeClass("vegButtonHighlighter");
            $(".VegSections").addClass('hidden');
            selectedVegItem = 'false';
        }else{
            $(".vegMenuPriceButton").removeClass("vegButtonHighlighter");
            $(this).addClass("vegButtonHighlighter");
            selectedVegItem = $(this).val();
            if(typeof selectedVegItem !== 'undefined'){
                showVegMenuItems();
            } 
        }
    });

    $(".nonVegMenuPriceButton").on('click', function(){
        if($(this).hasClass("nonvegButtonHighlighter")){
            $(this).removeClass("nonvegButtonHighlighter");
            $(".NonVegSectionTwo").addClass('hidden');
            selectedNonvegItem = 'false';
        }else{
            $(".nonVegMenuPriceButton").removeClass("nonvegButtonHighlighter");
            $(this).addClass("nonvegButtonHighlighter");
            selectedNonvegItem = $(this).val();
            if(typeof selectedNonvegItem !== 'undefined'){
                showNonVegMenuItems();
            }
        }    
    });

    $(".nonVegMenuPriceButton, .vegMenuPriceButton").on('click', function(){
        calculateTotalPrice();
    });

    $(".plates").on('change', function(){
       calculateTotalPrice();
    });

    $("#VegOnly").on('change', function(){
        vegOnly = $(this).is(':checked');
        if(vegOnly){
            $(".NonVegSections").addClass('hidden');
        }else{
            $(".nonVegMainSection").removeClass('hidden')
        }
        calculateTotalPrice();
    });
}); 

function calculateTotalPrice(){
    let vegPlates = $("#VegPlates").val(), totalVeg = 0, totalNonVeg = 0,
    nonVegPlates = $("#nonVegPlates").val(), totalCost = 0;
    if(typeof selectedVegItem !== 'undefined' && selectedVegItem !== 'false'){
        totalVeg = vegPlates*obj[selectedVegItem].MenuPrice;
        $("#VegCartSection").html(obj[selectedVegItem].MenuName+' x '+vegPlates);
        $("#vegCarttotal").html(' &#8377; '+totalVeg);
    }
    if(typeof selectedNonvegItem !== 'undefined' && !vegOnly && selectedNonvegItem !== 'false'){
        totalNonVeg = nonVegPlates*obj[selectedNonvegItem].MenuPrice;
        $("#NonVegCartSection").html(obj[selectedNonvegItem].MenuName+' x '+nonVegPlates);
        $("#NonVegCarttotal").html(' &#8377; '+totalNonVeg);
    }
    totalCost = (totalVeg+totalNonVeg)>0 ? '&#8377; '+(totalVeg+totalNonVeg)+' /-': (totalVeg+totalNonVeg);
    $("#totalPrice").html(totalCost);
    $("#TotalPriceCartSection").removeClass('hidden');
    $("#TotalPricesection").html(totalCost);
    
}

function addDynamicMenu(){
    let vegdata = "", nonvegData ="";
    for(let i =0; i<obj.length; i++){
        if(obj[i].MenuType === "1"){
            vegdata += '<div class="col-md-3 mr-bt-16"><button class="Rectangle-83 menuButtonContent vegMenuPriceButton" value="'+i+'">'+obj[i].MenuPrice+'</button></div>';
        }else{
            nonvegData += '<div class="col-md-3 mr-bt-16"><button class=" Rectangle-83 menuButtonContent nonVegMenuPriceButton" value="'+i+'">'+obj[i].MenuPrice+'</button></div>';
        }
    }
    $("#veg").html(vegdata);
    $("#nonVeg").html(nonvegData);
}

function showNonVegMenuItems(){
    $(".NonVegSections").removeClass('hidden');
    let items = "";
    for(let i=0; i<obj[selectedNonvegItem].MenuItem.length; i++){
        items += '<li><div style="float:left">'+obj[selectedNonvegItem].MenuItem[i].Item+'</div><div class="items-count">'+obj[selectedNonvegItem].MenuItem[i].ItemCount+'</div></li>';
    }
    $("#nonVegItems").html(items);
    $("#nonvegmenufooter").html("&#8377; "+obj[selectedNonvegItem].MenuPrice+"<button class='viewButton' value='"+selectedNonvegItem+"'>View</button>");
    $("#NonVegMenuHeader").html("<div style='float:left'>"+obj[selectedNonvegItem].MenuName+"</div><div class='items-count'> Items-"+obj[selectedNonvegItem].MenuItem.length+"</div>");
}

function showVegMenuItems(){
    $(".VegSections").removeClass('hidden');
    let items = "";
    for(let i=0; i<obj[selectedVegItem].MenuItem.length; i++){
        items += '<li><div style="float:left">'+obj[selectedVegItem].MenuItem[i].Item+'</div><div class="items-count">'+obj[selectedVegItem].MenuItem[i].ItemCount+'</div></li>';
    }
    $("#vegItems").html(items);
    $("#vegmenufooter").html("&#8377; "+obj[selectedVegItem].MenuPrice+"<button class='viewButton' value='"+selectedVegItem+"'>View</button>");
    $("#VegMenuHeader").html("<div style='float:left'>"+obj[selectedVegItem].MenuName+"</div><div class='items-count'> Items-"+obj[selectedVegItem].MenuItem.length+"</div>");
}
    </script>
</body>

</html>