@font-face {
  font-family: "HelveticaNeue";
  src: url("css/fonts/HelveticaNeue.ttf");
  }
.-Subham-home {
    height: 2505px;
    background-color: #ffffff;
  }
  .pd-35{
    padding: 35px;
  }
  .pd-tp-25{
    padding-top: 25px;
  }
  .Rectangle-30 {
    height: 320px;
    width: 100%;
  }
  .Rectangle-2 {
    padding-bottom: 38px;
    border-radius: 4px;
    background-color: #f1f1f1;
  }.Rectangle-123 {
    height: 127px;
    padding: 35px;
    border: solid 1px #707070;
    background-color: #ffffff; 
  }
  .Rectangle-16 {
    margin: 35px;
    vertical-align: middle;
    padding: 35px;
    min-height: 103px;
    border-radius: 8px;
    border: solid 2px #ff8900;
    background-color: #ffffff; 
  }
  .Rectangle-76 {
    margin: 35px;
    padding: 35px;
    min-height: 250px;
    border-radius: 8px;
    border: solid 1px #f27e09;
    background-color: #ffffff; 
  }
  .Veg-Only {
    height: 24px;
    font-family: HelveticaNeue;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
.C-Hub {
    height: 85px;
    font-family: Playball;
    font-size: 65px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #f27e09;
  }
  .Choose-the-Menu {

    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #f27e09;
  }
  .Home {
    height: 48px;
    padding: 10px;
    font-family: HelveticaNeue;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #f27e09;
  }
  .About-Us {
    height: 48px;
    padding: 10px;
    font-family: HelveticaNeue;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .Contact-Us { 
    height: 48px;
    padding: 10px;
    font-family: HelveticaNeue;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .Cart { 
    height: 48px;
    padding: 10px;
    font-family: HelveticaNeue;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .Account { 
    height: 48px;
    padding: 10px;
    font-family: HelveticaNeue;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .catering-banner { 
    height: 556px;
    object-fit: contain;
  }
  ul.menuItems li {
    display:inline;
    margin: 5px;
  }
  .leaf {
    margin-right: 15px;
    height: 21.9px;
  }
  .Event-Type {
    height: 24px;
    font-family: HelveticaNeue;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
  }
  .Rectangle-50 {
    width: 63px;
    background-color: white;
    height: 33px;
    color: #f27e09;
    border: solid 1px #f27e09;
  }
  .text-align-rt{
    text-align: right
  }
  
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #45b549;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.Rectangle-82 {
  display: inline-block;
  padding: 3px;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
}
.Ellipse-1 {
  width: 14.1px;
  height: 14.1px;
  border-radius: 8px;
}
.vegLabelBorder{
  border: solid 1px #069b3a;
}
.vegLabelColor{
  background-color: #069b3a;
}
.nonVegLabelBorder{
  border: solid 1px #f81010;
}
.nonVegLabelColor{
  background-color: #f81010;
}
.mr-tp-25{
  margin-top: 25px;
}
.mr-rt-25{
  margin-right: 25px;
}
.mr-rt-15{
  margin-right: 15px;
}
.mr-bt-16{
  margin-bottom: 16px;
}
.Veg {
  width: 37px;
  height: 21px;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #069b3a;
}
.vr-al-md{
  vertical-align: middle;
}
.disp-Inline-Block{
  display: inline-block;  
}
.Non-Veg {
  width: 84px;
  height: 21px;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #f81010;
}
.Rectangle-83 {
  background-color: #ffffff;
  /* width: 90px; */
  height: 33px;
  border-radius: 4px;
}
.vegMenuPriceButton{
  border: solid 1px #069b3a;
}
.nonVegMenuPriceButton{
  border: solid 1px #f81010;
}
.menuButtonContent{
  font-family: Helvetica;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #000000;
  
  padding: 0px 15px 0px 15px;
}
.Enter-Plates {
  /* width: 114px; */
  height: 21px;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.Total {
  width: 44px;
  height: 21px;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.Total {
  width: 44px;
  height: 21px;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.Union-1 {
  
  word-break: break-all;  
  min-height: 100.1px;
  border: solid 1px #f27e09;
  background-color: #ffffff;
}
.menuItemsHeader {
  height: 62px;
  background-color: #f27e09;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 20px;    
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}
.menuItemBody { 
  border: solid 1px #f1f1f1;
  background-color: #ffffff;
}
#nonVegItems, #vegItems {
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
 ol > li {
  padding: 20px 0px 20px 0px;
  margin-right: 35px;
  border-bottom-style: dotted;
}
.vegButtonHighlighter{
  background-color: #e7fde5;
}
.nonvegButtonHighlighter{
  background-color: #ffa3a3;
}
#totalPrice{
  font-family: HelveticaNeue;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000000; 
  padding-top: 32px;
}
#VegPlates{
  border-radius: 4px;
  border: solid 1px #069b3a;
  background-color: #ffffff;
}
#nonVegPlates{
  border-radius: 4px;
  border: solid 1px #f81010;
  background-color: #ffffff;
}
.plates{
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #f27e09;
}
.Rectangle-32 {
  border-radius: 4px;
  background-color: #e7fde5;
}
.CartBody{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 10px 0px 18px 0px;
}
.CartLabel {
  font-family: HelveticaNeue;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 10px 10px 30px 0px;
}
.cartbox{
  margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}
.mainBox{
  padding: 35px 0px 0px 60px;
}
.Rectangle-66 { 
  border: solid 1px #c7dac5;
}
.cartContent{
  word-break: break-all;
  padding: 25px 0px 25px 25px;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.cartPriceSection{
  word-break: break-all;
  font-family: HelveticaNeue;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 25px 0px 25px 25px;
}
.items-count{
  float: right;
  margin-right: 14px;
}
.menuItemFooter{
  padding: 0px 15px 15px 30px;
  font-size: 20px;
  font-weight: 700;
}
.viewButton{
    border-radius: 4px;
    background-color: #f27e09;
    font-family: HelveticaNeue;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    border: none;
    color: #ffffff;
    padding: 7px 14px 7px 14px;
    float: right;
    margin-right: 16px;
}
.checkout-button{
  background-color: #038334;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  border-radius: 0px;
}
.CatererName {
  font-family: HelveticaNeue;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
#Catere-Name-background{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 320px;
  width: 100%;
  background: black;
  opacity: 0.5;
}
#catere-name{
  font-family: HelveticaNeue;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 320px;
  width: 100%;
  padding: 82px 62px 62px 62px;
}
.gallery{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 28px 28px 28px 15px;
}
.footer{
  text-align: center;
  height: 49px;
  background-color: #181818;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 12px;
}
.footerMenu{
  background-color: #313131;
  font-family: HelveticaNeue;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: #ffffff;
}
.Group-86 {
  width: 160.7px;
  height: 132.3px;
  object-fit: contain;
}
.star {
  width: 31px;
  height: 29.6px;
  object-fit: contain;
}
.phone-receiver {
  width: 40.1px;
  height: 40.1px;
  object-fit: contain;
}
.facebook {
  width: 16px;
  height: 32px;
  object-fit: contain;
}
.instagram-logo {
  width: 32.9px;
  height: 32.9px;
  object-fit: contain;
}
.twitter {
  width: 34.9px;
  height: 29px;
  object-fit: contain;
}
#phone-numbers{
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.mr-bt-35{
  margin-bottom: 35px;
}
.footerMenu{
  padding: 15px;
  font-family: HelveticaNeue;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.footerLogoBox{
  text-align: center;
    padding: 71px;
}
.footerFollowUsLabel{
  font-family: HelveticaNeue;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  margin-bottom: 35px;
  color: #ffffff;
}
.footer-socialmedia-box{
  text-align: center;
  padding: 65px;
}